@mixin onMobile-min {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin onTable-min {
  @media screen and (min-width: 1300px) {
    @content;
  }
}

@mixin onMobil-max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin centerBloks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}